<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="canonical" href="https://www.faradaytechnologies.co.ke" />
<link rel="shortlink" href="https://www.faradaytechnologies.co.ke" />
<meta name="description" content="Faraday Technologies provides Security(CCTVs, Electrical fences), electrical, and Home decor(Wallpapers&amp;Interiors) services in Kenya to ensure safe, secure&amp;beautiful homes.">
<meta property="og:site_name" content="Faraday Technologies"/>
<meta property="og:url" content="https://www.faradaytechnologies.co.ke"/>
<meta property="og:description" content="Faraday Technologies provides security(CCTVs, Electrical fences), electrical, and home decor(Wallpapers&amp;Interiors) services in Kenya to ensure safe, secure &amp; beautiful homes."/>
<meta property="og:title" content="Electrical Systems, CCTVs, Wallpapers Interiors"/>
<meta property="og:description" content="Faraday Technologies provides security(CCTVs, Electrical fences), electrical, and home decor(Wallpapers&amp;Interiors) services in Kenya to ensure safe, secure&amp;beautiful homes."/>
<meta property="og:image" content="https://www.faradaytechnologies.co.ke/faraday/logoo.jpg"/>
<meta property="og:image:secure_url" content="https://www.faradaytechnologies.co.ke/faraday/logoo.jpg"/>
<meta name="keywords" content="Faraday Technologies, wallpapers&amp;Interiors, CCTV, Decorations, electrical solutions">
<meta property="og:type" content="website"/>
<title>Security, Electrical, Wallpapers&amp;Interiors</title>
<link rel="icon" href="faraday/logoo.jpg" type="image/x-icon"> 
<link rel="stylesheet" href="src/output.css">
<link rel="stylesheet" href="style.css">
<link rel="stylesheet" href="/slider.css">
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

  <div class="back"><a href="index.html"><i class="fa-solid fa-backward"></i></a></div>

    <h1 style="text-align: center; font-size: 24px; font-weight: bold; text-transform: uppercase; text-decoration: underline;">Recent Works</h1>
    <section id="recent">
      <div class="bg-white">
        <div class="mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8">
          <h2 class="sr-only">Products</h2>
         
      
          <div class="grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 xl:gap-x-8">
            <a href="#" class="group">
              <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-lg bg-gray-200 xl:aspect-h-8 xl:aspect-w-7">
                <img src="faraday/thika1.jpg" alt="thika billboards" class="h-full w-full object-cover object-center group-hover:opacity-75">
              </div>
              <h3 class="mt-4 text-sm text-gray-700">Thika, Kiambu</h3>
            </a>
            <a href="#" class="group">
                <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-lg bg-gray-200 xl:aspect-h-8 xl:aspect-w-7">
                  <img src="faraday/neki.jpg" alt="banner" class="h-full w-full object-cover object-center group-hover:opacity-75">
                </div>
                <h3 class="mt-4 text-sm text-gray-700">Kenol, Murang'a</h3>
              </a>
              <a href="#" class="group">
                <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-lg bg-gray-200 xl:aspect-h-8 xl:aspect-w-7">
                  <img src="faraday/otc.jpg" alt="Nairobi lightboxes" class="h-full w-full object-cover object-center group-hover:opacity-75">
                </div>
                <h3 class="mt-4 text-sm text-gray-700">Nairobi, OTC</h3>
              </a>
              <a href="#" class="group">
                <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-lg bg-gray-200 xl:aspect-h-8 xl:aspect-w-7">
                  <img src="faraday/phone care.jpg" alt="Phone care advert" class="h-full w-full object-cover object-center group-hover:opacity-75">
                </div>
                <h3 class="mt-4 text-sm text-gray-700">Ruiru</h3>
              </a>
              <a href="#" class="group">
                <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-lg bg-gray-200 xl:aspect-h-8 xl:aspect-w-7">
                  <img src="faraday/paris.jpg" alt="lounge banner" class="h-full w-full object-cover object-center group-hover:opacity-75">
                </div>
           
              </a>
              <a href="#" class="group">
                <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-lg bg-gray-200 xl:aspect-h-8 xl:aspect-w-7">
                  <img src="faraday/munga.jpg" alt="hardware bannner." class="h-full w-full object-cover object-center group-hover:opacity-75">
                </div>
               
              </a>
              <a href="#" class="group">
                <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-lg bg-gray-200 xl:aspect-h-8 xl:aspect-w-7">
                  <img src="faraday/ultrabeauty.jpg" alt="cosmetic billboard." class="h-full w-full object-cover object-center group-hover:opacity-75">
                </div>
              
              </a>
              <a href="#" class="group">
                <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-lg bg-gray-200 xl:aspect-h-8 xl:aspect-w-7">
                  <img src="faraday/medverse.jpg" alt="hospital banners" class="h-full w-full object-cover object-center group-hover:opacity-75">
                </div>
                
              </a>
             
              <a href="#" class="group">
                <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-lg bg-gray-200 xl:aspect-h-8 xl:aspect-w-7">
                  <img src="faraday/slide banner.jpg" alt="sliding banner" class="h-full w-full object-cover object-center group-hover:opacity-75">
                </div>
             
              </a>
              <a href="#" class="group">
                <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-lg bg-gray-200 xl:aspect-h-8 xl:aspect-w-7">
                  <img src="faraday/mkopa.jpg" alt="safaricom bannner" class="h-full w-full object-cover object-center group-hover:opacity-75">
                </div>
              
              </a>
              <a href="#" class="group">
                <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-lg bg-gray-200 xl:aspect-h-8 xl:aspect-w-7">
                  <img src="faraday/liquor signs.jpg" alt="liquor store banners" class="h-full w-full object-cover object-center group-hover:opacity-75">
                </div>
              </a>
              <a href="#" class="group">
                <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-lg bg-gray-200 xl:aspect-h-8 xl:aspect-w-7">
                  <video controls class="h-full w-full object-cover object-center group-hover:opacity-75">
                    <source src="faraday/vid1.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                  </video>
                </div>
              </a>

              <a href="#" class="group">
                <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-lg bg-gray-200 xl:aspect-h-8 xl:aspect-w-7">
                  <video controls class="h-full w-full object-cover object-center group-hover:opacity-75">
                    <source src="faraday/vid4.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                  </video>
                </div>
              </a>
              <a href="#" class="group">
                <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-lg bg-gray-200 xl:aspect-h-8 xl:aspect-w-7">
                  <video controls class="h-full w-full object-cover object-center group-hover:opacity-75">
                    <source src="faraday/vid6.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                  </video>
                </div>
              </a>
              <a href="#" class="group">
                <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-lg bg-gray-200 xl:aspect-h-8 xl:aspect-w-7">
                  <video controls class="h-full w-full object-cover object-center group-hover:opacity-75">
                    <source src="faraday/siayavid7.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                  </video>
                </div>
              </a>
              <a href="#" class="group">
                <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-lg bg-gray-200 xl:aspect-h-8 xl:aspect-w-7">
                  <video controls class="h-full w-full object-cover object-center group-hover:opacity-75">
                    <source src="faraday/siayavid.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                  </video>
                </div>
                <h3 class="mt-4 text-sm text-gray-700">Siaya, western</h3>
              </a>
              <a href="#" class="group">
                <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-lg bg-gray-200 xl:aspect-h-8 xl:aspect-w-7">
                  <video controls class="h-full w-full object-cover object-center group-hover:opacity-75">
                    <source src="faraday/bricksvid.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                  </video>
                </div>
                <h3 class="mt-4 text-sm text-gray-700">Siaya, western</h3>
              </a>
              <a href="#" class="group">
                <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-lg bg-gray-200 xl:aspect-h-8 xl:aspect-w-7">
                  <img src="faraday/kroad.jpg" alt="kenyatta road" class="h-full w-full object-cover object-center group-hover:opacity-75">
                </div>
              </a>
              <a href="#" class="group">
                <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-lg bg-gray-200 xl:aspect-h-8 xl:aspect-w-7">
                  <img src="faraday/wallpaperroof.jpg" alt="roof wallpapers" class="h-full w-full object-cover object-center group-hover:opacity-75">
                </div>
              </a>
              
          </div>
        </div>
      </div>
          </section>

</body>
</html>